<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">{{title}}</a>
</nav>

<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            Cadastrar
          </div>
          <div class="card-body">
            <app-form ></app-form> 
            <!--<app-form-lembrete (outputLembrete)="addLembrete($event)"></app-form-lembrete>-->
          </div>
        </div>
      </div>
    </div>
  </div>